/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,700;1,900&display=swap');


body {
	font-family: 'Roboto', sans-serif, !important;
}

.texto-negrito {
	font-weight: bold;
}

.fundo-customizado {
  background-color: #DD1014;
}

.icones-rodape {
  color: white;
}

.botao-vermelho {
  background-color: #DD1014;
  color: white;
  border-radius: 0;
  border: none;
}

.links {
  color: #DD1014;
}

.logo-vermelho {
  width: 250px;
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
}

.form-box {
  background: rgb(225, 225, 225);
  box-shadow: 0 0 10px 0 rgb(211, 208, 208), 0 2px 3px rgb(206, 202, 202);
  border-radius: 0;
}

.container-login {
  position: relative;
  transform: translateY(35%);
}

.container-cadastro {
  position: relative;
  transform: translateY(17%);
}